@font-face {
    font-family: 'Norse-Bold';
    src: url('./font/Norse-Bold.otf') format('opentype'); 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left {
    background-image: url(./img/ice.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70vw;
}
.strip {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 10vh;
    position: relative;
    top: 30vh;
}
.logo {
    height: 50px;
    width: auto;
}
h1 {
    color: white;
    font-family: 'Norse-Bold', sans-serif;
    font-size: 2.5rem;
}

.right {
    background: whitesmoke;
    width: 100vw;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
    padding: 3rem 4rem 3rem 2rem;
}

.form-1 {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 5rem 2rem 2rem;
}

.flex {
    display: flex;
    gap: 4rem;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .75rem;
    letter-spacing: .1rem;
    margin-bottom: .1rem;
}
input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 10px;
    outline: none;
}
input:active,
input:focus {
    border-color: blue;
}
input:invalid {
    border-color: red;
}

.form-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem 10rem 2rem;
}
.form-2 .btn {
    background: #00718c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: .95rem;
    font-weight: 600;
    padding: 10px 30px;
}
.form-2 span {
    color: #00718c;
    cursor: pointer;
}

